.odd1 ,
.odd2 ,
.odd3 {
    background-color: #FFB6C1;
    font-family: verdana, DejaVu Sans, sans-serif;
}

.odd2 {
    font-size: 24px;
}


#even1 {
    color: #0000ff;
    font-size: 36px;
}

#even2 {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}