body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  text-align: left;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom,margin-left,margin-right:12px;
}

.content {
  background: #e3f4ff;
  margin: 12px;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: inline-block;
}